{# parametros: entities 
colllection de unidad_oferta
#}
    {% for key, valor in unidad_ofertas %}
                <option value="{{ valor.id }}">
                    {{ valor }}
                </option>
                
    {% endfor %}