{# 

DEPRECATED  

La plantilla a la que llama fue modificada y se le pasa otro parametro

parametros :  carrera #}

{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo">{{ carrera.nombre }}</div>
<br />

{#{% render "OfertaEducativaBundle:Carrera:donde_se_dicta" with {'carrera_id': carrera.id } %}#}
{% include "OfertaEducativaBundle:Carrera:includes/establecimientos_donde_se_dicta.html.twig" with {'unidad_ofertas': carrera.oferta.unidades } %}

{% include '::includes/volver.html.twig' %}
{% endblock %}