{# parametros :  carrera #}
{# se invoca 
{{ path('carrera_nomina_resumida_donde_se_dicta', {carrera_id:carrera.id} ) }}
#}

{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo">{{ carrera.nombre }}</div>
<br />

{#{% include 'OfertaEducativaBundle:Carrera:includes/donde_se_dicta.html.twig' with {'establecimientos': establecimientos } %}#}
{% include "OfertaEducativaBundle:Carrera:includes/establecimientos_donde_se_dicta.html.twig" with {'unidad_ofertas': unidades_ofertas } %}

{% include '::includes/volver.html.twig' %}
{% endblock %}