<span id="menu_autoridad">
    <ul>
        <li><span><img src="{{ asset('bundles/establecimiento/img/menu.png') }}"></span>
            <ul>
                <li><a href="#">Actualizar datos</a></li>
                <li><a href="#">Desafectar del cargo</a></li>
                <li><a href="#">Cambiar por otro</a></li>
                <li><a href="#">Nueva autoridad</a></li>
                <li><a href="#">Reubicar</a></li>
            </ul>
        </li>
    </ul>
</span>