{% extends '::base_admin.html.twig' %}

{% form_theme form ':Form:fields_bootstrap.html.twig' %}

{% block page_header %}
    <div class="col-md-9">
        <h1>Sector: crear nuevo</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <div class="row">
        <form class="form-horizontal well" action="{{ path('sector_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <button type="submit" class="btn btn-success">Crear</button>
            </p>
        </form>

        <div>
            <div class="float-left">
                <a class="btn" href="{{ path('sector') }}">
                    Volver a la lista
                </a>
            </div>
        </div>
    </div>
{% endblock %}