<table class="grilla">
    <thead>
        <tr>
            <th>Nivel</th>
            <th>Establecimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nivel.nombre }}</td>
            <td>{{ entity.establecimiento }}</td>
            <td><a href="{{ path('backend_unidad_educativa_edit', { 'id': entity.id }) }}">Editar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>