{% extends '::base.html.twig' %}

{% block title %}Bienvenido al Sistema de la Dirección de Formación Docente!{% endblock %}


{% block stylesheets %}
    {% include '::includes/stylesheets.html.twig' %}
{% endblock %}

{% block javascripts %}
{% endblock %}


{% block header %}
    {% set titulo = 'DFD' %}
    {% include '::includes/header.html.twig' with {'titulo': titulo, 'camino': path('establecimiento_damero') } %}
{% endblock %}

{% block menu_superior %}
    {% include '::includes/menu_superior.html.twig' %}
{% endblock %}

{% block main_content %}
    <!-- tiene un flash y luego el contenido -->
    
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% if loop.first %}
            <div id="flash">
        {% endif %}

        {% for un_mensaje in flashMessages %}
            {% if loop.first %}
                <div class="{{ 'flash flash_' ~ type }}">
            {% endif %}
                {{ un_mensaje }}<br />
            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}

        {% if loop.last %}
            </div>
            <script>$("#flash").fadeIn('slow').delay(1200).fadeOut('slow');</script>
        {% endif %}
    {% endfor %}

{% endblock %}
  
{% block footer %}
    {{ parent() }}
{% endblock %}