{% for key, valor in organizaciones %}
    <option value="{{ valor.id }}">
        
        <!--debe llevar el mimo campo que el que se determina en el type--> 
        {{ valor.dependencia.nombre }}
    </option>

{% endfor %}