<span class="float_izquierda">
    <ul>
        <li><a href="{{ path('fd_backend_default_portada') }}">Nómina de tablas</a></li>
    </ul>
</span>  
<span class="limpiar_float"></span>
<span class="float_derecha">
    <ul>
        <li><a href="{{ path('establecimiento_nomina') }}">Volver al frontend</a></li>
    </ul>
</span>
<span class="limpiar_float"></span>
