{% extends 'BackendBundle::layout.html.twig' %}

{% block main_content %}

    <div class="titulo">Oferta educativa en cada unidad educativa de cada establecimiento</div>
    <br />
    
    <div class="instrucciones">
        Para visualizar la oferta por nivel seleccione el establecimiento y la unidad educativa<br />
    </div>
    <br />

    <select id="cmb_establecimientos">
        {% for key, valor in establecimiento_edificios %}
            <option value="{{ valor.id }}">{{ valor }}</option>
        {% endfor %}
    </select>

    <select id="cmb_niveles">

    </select>

    <span class="limpiar_float"></span>

    <br />
    <br />
    <div class="separador" id="lista_ofertas"></div>

    <br />
    <br />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function () {

            //cargo los datos iniciales para completar la pagina
            cargar_combo_niveles();
            cargar_lista_ofertas();

            //asigno los eventos
            $('#cmb_establecimientos').change(function ()
            {
                cargar_combo_niveles();
                cargar_lista_ofertas();
            });

            $('#cmb_niveles').change(function ()
            {
                cargar_lista_ofertas();
            });


        });

        function cargar_combo_niveles() {

            $("#divCargando").show();

            var clave = $("#cmb_establecimientos").val();
            $('#cmb_niveles option').remove();

            //usando FOSJsRouingBundle
            $.ajax({
                type: 'GET',
                dataType: 'json',
                async: false,
                url: Routing.generate('unidad_educativa_combo', {establecimiento_id: clave}),
                success: function (data) {
                    $.each(data, function (i) {
                        $('#cmb_niveles').append($("<option></option>").attr("value", this.value).text(this.text));
                    });
                },
            });

            $('#divCargando').hide();

        };

        function cargar_lista_ofertas() {

            $("#divCargando").show();

            var id_unidad_educativa = $('#cmb_niveles').val();

            //usando FOSJsRouingBundle
            $.ajax({
                url: Routing.generate('backend_unidadoferta_listar', {unidad_educativa_id: id_unidad_educativa}),
                type: 'GET',
                async: false,
                success: function (data) {
                    $("#lista_ofertas").html(data);
                },
            });
            $('#divCargando').hide();
        };

    </script>

{% endblock %}        