{# parametros:
lista de unidad_oferta 
#}

{% for entity in entities %}
    <span>
        <a href="{{ path('backend_unidadoferta_edit', { 'id': entity.value }) }}">
                {{ entity.text }}
        </a><br />
    </span>
{% else %}
    <span class="separador resaltado mediana">
        No hay datos
    </span>
{% endfor %}