{% extends '::layout.html.twig' %}


{% block main_content %}
    {{ parent() }}
    <br />
    <div class="sub_titulo">Seleccione el listado que desea emitir</div>
    <br />

    <table border="0" >
        <tbody>


            {# este es el acceso sólo para el super_admin #}

            <tr >
                <td><a href="{{ path('establecimiento.autoridad.listado_rectores') }}">Listado de rectores</a></td>
            </tr>
            <tr >
                <td><a href="{{ path('edificio.inspector.listado_inspectores') }}">Listado de inspectores de infraestructura</a></td>
            </tr>

        </tbody>
    </table>

    <br />
    <br />

{% endblock %}
