<div class="tarjeta1">
<a href="{{ path( 'establecimiento_ficha', {'establecimiento_id': establecimiento.id } ) }}">{{establecimiento.nombre ~ ' - D.E.: ' ~ establecimiento.distritoEscolar ~ ' - CUE: ' ~ establecimiento.cue }}</a>
</div>