<div class="row">
    <br />
    <br />
    <br />
    <nav class="navbar navbar-default navbar-inverse">
        <ul class="nav nav-pills">
            <li><a style="color:white;">&copy; {{ const.VERSION_LOGICA }}</a></li>
            <li class="pull-right"><a  href="{{ path('acerca_de') }}" >Acerca de ...</a></li>
            <li class="pull-right"><a  href="{{ path('contacto') }}" >Contacto</a></li>
        </ul>
    </nav>
</div>