<div id="menu_derecha">
    <div class="resaltado centrado con_color reforzado">
    Nómina de establecimientos
    </div>

    <fieldset>
        <table>
            <div>
                {% for un_establecimiento in establecimientos %}
                    <tr>
                        <td>
                            <a href="{{path('establecimiento_ficha', {'establecimiento_id':un_establecimiento.id})}}">
                            {{ un_establecimiento.apodo }}</a>
                        </td>
                        <td>
                            <a class="separador italico chica" href="{{path('backend_establecimiento_edit', {'id':un_establecimiento.id})}}">
                            (Editar)</a>
                        </td>
                    </tr>
                {% endfor %}
            </div>
        </table>
    </fieldset>
</div>