/* 
    Document   : impresion
    Created on : 12/10/2012, 10:12:25
    Author     : marcelo
    Description:
        Purpose of the stylesheet follows.
*/
#container{
    width: auto ;
    background-color: #fff !important;
    margin: 0 !important;
}
#header {
    display: none;
}
#footer, #footer p {
    display: none !important;
}
#menu_superior, #menu_superior * {
    display: none !important;
}
.resaltado{
    font-style: italic;
    font-weight: bolder;
}
.titulo{
    color: #fff !important;
}
.volver{
    display: none !important;
}