#menu_derecha {
    background: darkseagreen;
    width: 140px;
    height: 35px;
    color: #08C;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
    padding: 0;
    /*margin-left: 0px;  para que el nombre del establecimeinto no se peque*/
    float: right;
    /*text-align: center;*/
    font-weight: bold;
}
#menu_derecha li {
    margin: 0;
    list-style: none;
    padding: 0;
}
#menu_derecha {
    margin: 0;
    padding: 0;
}
#menu_derecha ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu_derecha li a {
    color: #FFFFFF;
    display: block;
    padding: 9px 15px 8px;
    text-transform: none;
    text-decoration: none;
    /*margin: 4px;*/
}
#menu_derecha li span, #menu_derecha li a:link, #menu_derecha li a:visited {
    color: #FFFFFF;
    display: block;
    /*font-weight: normal;*/
    padding: 9px 15px 8px;
    text-transform: none;
    margin: 0;
}
#menu_derecha li a:active, #menu_derecha li a:hover {
    color:  #FFF;
    background: darkred;
    text-decoration: none;
}
#menu_derecha li li a:link, #menu_derecha li li a, #menu_derecha li li a:visited {
    color: #FFF;
    font-weight: normal;
    text-transform: none;
    background:  #08C;
    width: 110px;
    float: none;
    margin: 0;
    /*padding: 7px 10px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
#menu_derecha li li a:hover, #menu_derecha li li a:active {
    padding-top: 2px;
    padding-bottom: 2px;
    /*padding: 7px 10px;*/
    text-decoration: underline;
}
#menu_derecha li {
    float: left;
    padding: 0;
}
#menu_derecha li ul a {
    width: 130px;
    text-decoration: none;
}
#menu_derecha li ul {
    position: absolute;
    margin: 0 0 0 0;
    z-index: 9999;
    left: -999em;
    width: 130px;
    padding: 0;
}
#menu_derecha li:hover, #menu_derecha li.sfhover {
    position: static;
}
#menu_derecha li ul ul {
    margin: -33px 0px 0px 170px;
}
#menu_derecha li:hover ul ul, #menu_derecha li:hover ul ul ul, #menu_derecha li.sfhover ul ul, #menu_derecha li.sfhover ul ul ul {
    left: -999em;
}
#menu_derecha li:hover ul, #menu_derecha li li:hover ul, #menu_derecha li li.sfhover ul,#menu_derecha li li li:hover ul, #menu_derecha li.sfhover ul, #menu_derecha li li li.sfhover ul {
    left: auto;
}
