{% extends '::layout.html.twig' %}

{% block main_content %}

<form action="{{ path('prueba') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <p>
        <button type="submit">procesar</button>
    </p>
</form>




{% endblock %}

{% block javascripts %}
{% endblock %}
