{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}


<div class="titulo float_izquierda">Nómina de establecimientos que imparten nivel inicial</div>

<div class="limpiar_float"></div>

<br />
<table >
    <tr>
        <th class="resaltado">Establecimiento</th>
        <th class="resaltado identado_1">Autoridad</th>
    </tr>

    {% for establecimiento in establecimientos %}
    
    <tr>
        <td><a href="{{path('establecimiento_ficha', {'establecimiento_id':establecimiento.id})}}">{{ establecimiento.nombre }}</a></td>
        <td class="identado_1">{{ establecimiento.unidadesEducativas[0].autoridad }}</td>
    </tr>
    {% endfor %}
</table>

{% include '::includes/volver.html.twig' %}
{% endblock %}