{# despliega en horizontal los turnos anteponiendo la palabra "tunos:" #}
{# la variable que espera recibir es oferta_carreras y es un objeto oferta_carrera #}
<span class="separador"></span>
<a href="{{ path('establecimiento.unidad_oferta.asignar_turno', { 'id' : unidad_oferta['id'] } ) }}">
    {% for turno in unidad_oferta['turnos'] %}
        {% if loop.first %}
            {{ 'Turno/s: ' }}
            {{ turno }}
        {% else %}
            {{ ' - ' ~ turno }}
        {% endif %}
    {% else  %}
        (falta asignar turnos)
    {% endfor  %}
</a>