{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo">Acto Público con Problemas</div>

<br />

<p>Se presentaron inconvenientes</p>

{% for problema in problemas %}
    {{ problema.log }}
    <br />
{% endfor %}

{% include '::includes/volver.html.twig' %}
    
{% endblock %}