{% extends '::layout.html.twig' %}

{% block main_content %}
{{ parent() }}

<div class="titulo float_izquierda">Nómina de oferta educativa</div>

<div class="limpiar_float"></div>

<br />
{% for oe in oes %}
        {% if oe.nivel == 'Ter' %}
            <span class="identado_1">{{ oe.formacion ~ '-'}}</sanp>
        {% endif %}
        Nivel: {{ oe.nivel.nombre }}<br>
        <p class="identado_1">{{ oe }}</p><br>
{% endfor %}

{% include '::includes/volver.html.twig' %}

{% endblock %}