<table class="grilla">
    <thead>
        <tr>
            <th>Cue del anexo</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.cueanexo }}</td>
            <td>{{ entity.nombre }}</td>
            <td><a href="{{ path('backend_establecimiento_edificio_edit', { 'id': entity.id }) }}">Editar</a>
            </td>
          </tr>
    {% endfor %}
    </tbody>
</table>
